/* set color theme */
:root {
    --primary: #004225;
    --secondary: #F5F5DC;
    --secondarydark:#a5a57c;
    --tertiary: #729413;
    --light: #FFCF9D;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

header {
    padding:1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--primary);
  }
  
header h1 {
  color: var(--primary);
  background-color: var(--secondary);
  padding: 1rem 2rem;
  font-size: 30px;
  letter-spacing: 0.1rem;
  line-height: 1;
  border-radius: 30px;
  box-shadow: 7px 7px 3px var(--secondarydark);
}

header nav {
  display: flex;
  flex-wrap: wrap;
}

header nav a {
  text-decoration:underline;
  text-underline-offset: 5px;
  padding: 0.2rem;
  color: var(--secondary);
  margin-right: 1rem;
  font-size: 15px;
  transition: all 0.25s ease-in;
}

nav a:hover {
  background-size: 100% 100%;
  color: var(--tertiary);
}

.banner {
  background-image: url("../image/Background-img-cut.jpg"), linear-gradient(var(--secondary) 80%, var(--secondarydark) 100%);
  background-size: cover;
  background-position: center;
  background-blend-mode:luminosity;
  min-height: 25vh;
  padding: 2% 6%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.banner h2 {
  color: var(--secondary);
  background-color: var(--tertiary);
  padding: 10px 10px;
  font-style: italic;
  border-radius: 10px;
  border: solid 3px var(--secondary);
}

.cphoto {
  margin: 20px;
  border-radius: 100px;
}

main {
  margin: 2% 6% 0;
}

section {
  margin-bottom: 60px;
}

main section h2 {
  color:var(--primary);
  font-size: 30px;
  margin: 0 0 5px;
  padding-bottom: 5px;
  border-bottom: dashed 2px var(--secondarydark);
}

.aboutMe {
  display: flex;
  align-items: center;
}

.aboutMe article p{
  padding: 1ex 0.5ex;
  line-height: 2ex;
  align-content: center;
  color:var(--primary);
  font-style: oblique;
}

.projects {
display:flex;
flex-wrap: wrap;
justify-content: center;
}

.projects b:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../image/github-logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position:center;
  bottom: -2px;
  position:relative;
  margin: 0 4px;
}

.card{
  text-decoration: none;
  display:flex;
  flex-direction: column;
  flex: 1 0;
  flex-basis: 20%;
  min-height: 200px;
  margin: 10px;
  padding: 10px;
  flex-wrap: wrap;
  border:solid 3px var(--tertiary);
  background-color:gray;
  background-blend-mode: soft-light;
  justify-content: flex-end;
  align-items: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s;
}

.card:first-child {
  min-height: 400px;
  flex-basis: 98%;
}

.card:hover {
  background-color: var(--secondarydark);
}

.card h3{
  text-decoration: none;
  font-size: 1rem;
  color: var(--secondary);
  background-color: var(--tertiary);
  padding: 10px 10px;
  font-style: italic;
  border-radius: 10px;
  border: solid 3px var(--secondary);
}

.card div {
  font-size: 0.8rem;
  color: var(--secondary);
  background-color: var(--secondarydark);
  margin-top: 5px;
  padding: 5px;
}

.Horiseon {
  background-image: url("../image/Horiseon.jpg");
 }

.portfolio {
  background-image: url("../image/Personal-Portfolio-page.jpg");
}

.js {
  background-image: url("../image/JS.jpg");
}

.contact {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contact a {
  text-decoration: none;
  display:inline-block;
  padding:5px 10px;
}

.contact a:hover {
  background-color: var(--tertiary);
  padding:5px 10px;
  transition:all 1s;
}

@media screen and (max-width: 820px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin: 10px 10px 20px;
    font-size: 30px;
    text-align: center;
  }

  header nav{
    justify-content: center;
  }

  .card {
    flex-basis: 45%;
  }

  .card:first-child {
    min-height: 300px;
    flex-basis: 98%;
  }

  .card h3{
    font-size: 0.6rem;
  } 

  .contact{
    flex-direction: column;
  }
}


@media screen and (max-width: 600px) {
  .banner {
    justify-content: center;
}
  .aboutMe {
    display: flex;
    flex-direction: column;
  }

  .card {
    flex-basis: 98%;
    min-height: 150px;
   }

  .card:first-child {
    min-height: 200px;
    flex-basis: 98%;
  }
}
